HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Do not commit images of sitters/owner/pets apart of default one ###
src/main/resources/static/images/sittersImages/*
!src/main/resources/static/images/sittersImages/default-sitter.png

src/main/resources/static/images/ownersImages/*
!src/main/resources/static/images/ownersImages/default-owner.png

src/main/resources/static/images/petsImages/*
!src/main/resources/static/images/petsImages/default-pet.png

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
