<nav xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="navbar" class="navbar">
    <a th:href="@{/}" class="logo-link">
        <img th:src="@{/images/mainlogo.png}" alt="PawSitter logo" class="nav-logo">
    </a>

    <div class="nav-links">
        <a th:href="@{/}">Home</a>
        <a sec:authorize="hasAuthority('USER')" th:href="@{/owner/profile}">My Profile</a>
        <a sec:authorize="hasAuthority('USER')" th:href="@{/owner/bookings}">My Bookings</a>
        <a sec:authorize="hasAuthority('SITTER')" th:href="@{/sitter/profile}">My Profile</a>
        <a sec:authorize="hasAuthority('SITTER')" th:href="@{/sitter/bookings}">My Bookings</a>
        <a sec:authorize="isAnonymous()" th:href="@{/registration}">Register</a>
        <a sec:authorize="isAnonymous()" th:href="@{/login}">Log In</a>

        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" class="logout-form">
            <button type="submit" class="nav-link-button">Log out</button>
        </form>
    </div>
</nav>
